{{ $non_data_attributes := slice "id" "class" }}
{{ $image_attributes := slice "background-image" "background-video" }}
{{ $basePath := $.Page.RelPermalink }}
{{ if hasPrefix $basePath (printf "/%s/present/" $.Page.Language.Lang) }}
  {{ $basePath = replace $basePath (printf "/%s/present/" $.Page.Language.Lang) (printf "/%s/" $.Page.Language.Lang) }}
{{ end }}
<section data-noprocess data-shortcode-slide
  {{ range $key, $value := $.Params }}
      {{ $attribute := cond (in $non_data_attributes $key) $key (delimit (slice "data" $key) "-") }}
      {{ $resolvedValue := $value }}
      {{ if in $image_attributes $key }}
        {{ if and (not (hasPrefix $value "/")) (not (hasPrefix $value "http")) }}
          {{ $resolvedValue = printf "%s%s" $basePath $value }}
        {{ end }}
      {{ end }}
      {{ $attribute | safeHTMLAttr }}="{{ $resolvedValue }}"
  {{ end }}>
